COMMUNITY_NAME=ZARUBA
DATA_DIR=/app/data

# Discord
DISCORD_BOT_TOKEN=
DISCORD_TOKEN=
DISCORD_CHANNEL_ID=1548325425678262313
DISCORD_CLIENT_ID=1206589908358271007
DISCORD_GUILD_ID=1206589908358271007
ENABLE_PANEL=1
PANEL_BANNER_URL=https://i.ibb.co/1Ypjc3nv/12121212.jpg

# WARDOGS / Steam
GAME_APP_ID=1867240
STEAM_API_KEY=

# SERVER 1
SERVER_1_BOT_TOKEN=
SERVER_1_GAME_ID=940057
SERVER_1_NAME=СЕРВЕР 1
SERVER_1_QUERY=7778
SERVER_1_RCON_HOST=51.83.166.16
SERVER_1_RCON_PORT=7779
SERVER_1_RCON_PASSWORD=

# Остальные серверы не используются кодом подключения
SERVER_2_NAME=СЕРВЕР 2
SERVER_3_NAME=СЕРВЕР 3
SERVER_4_NAME=СЕРВЕР 4

MONITOR_INTERVAL_MS=30000
POLL_INTERVAL_MS=15000
STALE_AFTER_MS=45000
NODE_VERSION=20.20.2
PORT=3000
PUBLIC_URL=https://bot-1789236344-7126-berni007.bothost.tech/
